<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Beneficiary</title>
	<link href="../assets/sass/components/_addbeneficiary.scss" rel="stylesheet/scss" type="text/css">
</head>
<body>
    <div class="box mt-4 m-auto">
		<h1>Additional Information</h1>
		<p>Only a few more details we need to gather from you. Once you`ve completed this section, you can finalise the purchase.</p>
		<div class="card">
			<div class="title">
				<h2>Add Beneficiary</h2>
			</div>
			<table class="table-beneficiary">
				<thead>
					<tr>
						<th width="20%">Name <img src="../assets/images/caret.svg"></th>
						<th width="17%">Role <img src="../assets/images/caret.svg"></th>
						<th width="30%">Phone Number <img src="../assets/images/caret.svg"></th>
						<th width="22%">Email Address <img src="../assets/images/caret.svg"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="active">
						<td>John Deo</td>
						<td><span class="circle">PB</span></td>
						<td>555-555-5555</td>
						<td>test@test.com</td>
						<td align="center"><img src="https://www.theflowershop.ae/marketing-campaigns/email-images/20220616/pencil.png" height="14"></td>
					</tr>
					<tr>
						<td>John Deo</td>
						<td><span class="circle yellow">PB</span></td>
						<td>555-555-5555</td>
						<td>test@test.com</td>
						<td align="center"><img src="https://www.theflowershop.ae/marketing-campaigns/email-images/20220616/pencil.png" height="14"></td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</body>
</html>