<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Field</title>
	<link href="../assets/sass/components/_addressfield.scss" rel="stylesheet/scss" type="text/css">	
</head>
<body>
    <div class="box">
		<fieldset class="fieldset">
			<label class="input-lable">Address<i class="require">*</i></label>
			<input type="text" class="input-field" placeholder="">
		</fieldset>
		<fieldset class="fieldset">
			<label class="input-lable">Address 2</label>
			<input type="text" class="input-field" placeholder="">
		</fieldset>
		<fieldset class="fieldset">
			<label class="input-lable">City<i class="require">*</i></label>
			<input type="text" class="input-field" placeholder="">
		</fieldset>
		<fieldset class="fieldset">
			<label class="select-lable">State<i class="require">*</i></label>
			<div class="select-field">
				<select class="select">
					<option>Please Select</option>
				</select>
			</div>
		</fieldset>
		<fieldset class="fieldset">
			<label class="input-lable">Zip<i class="require">*</i></label>
			<input type="text" class="input-field" placeholder="">
		</fieldset>
    </div>
</body>
</html>