<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance Search</title>
	<link href="../assets/sass/components/_advancesearch.scss" rel="stylesheet/scss" type="text/css">
</head>
<body>
    <div style="max-width:650px; margin:3rem auto;">
		<div class="advance-search">
			<a href="#" class="add"><img src="../assets/images/add.svg" width="20"></a>
			<div class="search-field">
				<label>Search</label>
				<div class="search-wrap">
					<input type="search" placeholder="Search Table..." class="search">
					<a href="#"><img src="../assets/images/filter-text.svg" width="25"></a>
				</div>
			</div>
		</div>
    </div>
</body>
</html>