<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECENT</title>
	<link href="../assets/sass/components/_recent.scss" rel="stylesheet/scss" type="text/css">
</head>
<body>
    <div class="recent-box">
		<div class="recent-heading">
			<h1>Recent</h1>
			<div class="advance-search">
				<a href="#" class="add"><img src="../assets/images/add.svg" width="20"></a>
				<div class="search-field">
					<label>Search</label>
					<div class="search-wrap">
						<input type="search" placeholder="Search Table..." class="search">
						<a href="#"><img src="../assets/images/filter-text.svg" width="25"></a>
					</div>
				</div>
			</div>
		</div>
		<table class="table">
			<div class="table-head">
				<div>
					<ul class="icons">
						<li>
							<label class="checkboxes mt-2">
							  <input type="checkbox">
							  <span class="checkmark"></span>
							</label>
						</li>
						<li>
							<a href="#">
								<img src="../assets/images/pdf-red.svg"> Export PDF
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../assets/images/Icon-csv.svg"> Export CSV
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../assets/images/ico-excel.svg"> Export Excel
							</a>
						</li>
					</ul>
				</div>
				<div>
					<span>Show</span>
					<select class="select mx-2">
						<option>10</option>
					</select>
					<span>of 230 results</span>
					<span class="ml-2">
						<a href="#"><img src="../assets/images/arrow-left.svg" height="12"></a>
						<select class="select mx-2">
							<option>1</option>
						</select>
						<a href="#"><img src="../assets/images/arrow-right.svg" height="12"></a>
					</span>
				</div>
			</div>
			<thead>
			<thead>
				<tr>
					<th width="30"></th>
					<th width="200">Name <img src="../assets/images/sort-alpha-down.svg" width="16"></th>
					<th width="200">Start Date <img src="../assets/images/caret.svg"></th>
					<th width="200">Term Date <img src="../assets/images/caret.svg"></th>
					<th>Status <img src="../assets/images/caret.svg"></th>
					<th width="20"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="active">
					<td>
						<label class="checkboxes">
						  <input type="checkbox" checked>
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge danger">Termed</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-selected.svg" height="15"> &nbsp; <img src="../assets/images/ellipses-white.svg" height="15"></td>
				</tr>
				<tr>
					<td>
						<label class="checkboxes">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge success">Active</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-unselected.svg"> &nbsp; <img src="../assets/images/ellipses.svg" height="15"></td>
				</tr>
				<tr>
					<td>
						<label class="checkboxes">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge danger">Termed</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-unselected.svg"> &nbsp; <img src="../assets/images/ellipses.svg" height="15"></td>
				</tr>
				<tr>
					<td>
						<label class="checkboxes">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge success">Active</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-unselected.svg"> &nbsp; <img src="../assets/images/ellipses.svg" height="15"></td>
				</tr>
				<tr>
					<td>
						<label class="checkboxes">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge danger">Termed</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-unselected.svg"> &nbsp; <img src="../assets/images/ellipses.svg" height="15"></td>
				</tr>
				<tr>
					<td>
						<label class="checkboxes">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge success">Active</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-unselected.svg"> &nbsp; <img src="../assets/images/ellipses.svg" height="15"></td>
				</tr>
				<tr>
					<td>
						<label class="checkboxes">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge danger">Termed</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-unselected.svg"> &nbsp; <img src="../assets/images/ellipses.svg" height="15"></td>
				</tr>
				<tr>
					<td>
						<label class="checkboxes">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge success">Active</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-unselected.svg"> &nbsp; <img src="../assets/images/ellipses.svg" height="15"></td>
				</tr>
				<tr>
					<td>
						<label class="checkboxes">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge danger">Termed</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-unselected.svg"> &nbsp; <img src="../assets/images/ellipses.svg" height="15"></td>
				</tr>
				<tr>
					<td>
						<label class="checkboxes">
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</td>
					<td>John Deo</td>
					<td>02-20-2022</td>
					<td>20-02-2022</td>
					<td><span class="badge success">Active</span></td>
					<td width="20" nowrap><img src="../assets/images/pin-unselected.svg"> &nbsp; <img src="../assets/images/ellipses.svg" height="15"></td>
				</tr>
			</tbody>
		</table>
    </div>
</body>
</html>