// COMPONENTS DATE/TIME PICKERS DV LAST EDITED 2022 MAY ******************************************************************
// FILE NOTES: 
        // CODE STYLE - notice all variables are lowercase, no camelcase
        // END is for easy searches
        // USE is to better understand what the code is for
// SECTIONS: DATEPICKER

// DATEPICKER
.date, .datetime  {
    label { // TODO

    } // END: .date label
    select { // TODO

    } // END: .date select
} // END: .date
