// COMPONENTS RADIO DV LAST EDITED 2022 MAY ******************************************************************
// FILE NOTES: 
        // CODE STYLE - notice all variables are lowercase, no camelcase
        // END is for easy searches
        // USE is to better understand what the code is for
// SECTIONS: Alert (modal) tappable

.select-field {
	align-items: center;
	width: 100%;
	max-width: 525px;
	position: relative;
	-webkit-appearance: none;
	&:after {
		position: absolute;
		content: '';
		background: url("https://www.theflowershop.ae/marketing-campaigns/email-images/20220615/select.png") right no-repeat;
		width: 30px;
		height: 40px;
		top: 2px;
		right: 1px;
		-webkit-appearance: none;
	}
	>.select {
		font-family: 'Helvetica Neue';
		-webkit-appearance: none;
		font-weight: 400;
		font-size: 16px;
		padding: 10px;
		color: #838383;
		width: 100%;
		max-width: 525px;
		height: 45px;
		background: #FFFFFF;
		border: 1px solid #CCCCCC;
		border-radius: 5px;
		position: relative;
		&:focus {
			background-color: #fff;
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
		}
	}
}



.select-field {
	align-items: center;
	width:100%;
	max-width:525px;
	position: relative;
	-webkit-appearance: none;
}		
.select-field:after {
	position: absolute;
	content: '';
	background:url("https://www.theflowershop.ae/marketing-campaigns/email-images/20220615/select.png") right no-repeat;
	width:30px;
	height:40px;
	top: 2px;
	right: 1px;
	-webkit-appearance: none;
}
.select-field > .select {
	font-family:'Helvetica Neue';
	-webkit-appearance: none;
	font-weight: 400;
	font-size: 16px;
	padding: 10px;
	color: #838383;
	width:100%;
	max-width:525px;
	height: 45px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	position: relative;
}
.select-field > .select:focus {
  background-color: #fff;
  border-color: #80bdff; outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}