// COMPONENTS TRAINING DV LAST EDITED 2022 MAY ******************************************************************
// FILE NOTES: 
        // CODE STYLE - notice all variables are lowercase, no camelcase
        // END is for easy searches
        // USE is to better understand what the code is for
// 